@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Orbit&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@layer utilities {
  .font-orbit {
    font-family: 'Orbit', sans-serif;
  }

  .font-orbitron {
    font-family: 'Orbitron', sans-serif;
  }

  .font-cormorant {
    font-family: 'Cormorant Garamond', serif;
  }
  
  .font-audiowide {
    font-family: 'Audiowide', cursive;
  }
}
